## List

In [10]:
lists = ["apples", 1, True, 20.5]
lists

['apples', 1, True, 20.5]

In [12]:
lists[1] = 99
lists

['apples', 99, True, 20.5]

In [13]:
## creating an empty list

empty = []
print(empty)
print(type(empty))

[]
<class 'list'>

In [16]:
lists

['apples', 99, True, 20.5]

In [17]:
print(lists[0])
print(lists[2])

apples
True

In [18]:
print(lists[-1])
print(lists[-2])
print(lists[-4])

20.5
True
apples

In [23]:
print(lists)
print(lists[1:40])
print(lists[0:30])

['apples', 99, True, 20.5]
[99, True, 20.5]
['apples', 99, True, 20.5]

In [24]:
print(lists[::])

['apples', 99, True, 20.5]

In [5]:
lists = ["apples", 1, True, 20.5]
lists

['apples', 1, True, 20.5]

In [6]:
lists[::-1]

[20.5, True, 1, 'apples']

### list methods

In [7]:
lists.append("sai")
lists

['apples', 1, True, 20.5, 'sai']

In [8]:
lists.insert(1,99)
lists

['apples', 99, 1, True, 20.5, 'sai']

In [10]:
lists.append(99)
lists

['apples', 99, 1, True, 20.5, 'sai', 99, 99]

In [11]:
lists.remove(99)

In [12]:
lists

['apples', 1, True, 20.5, 'sai', 99, 99]

In [ ]:
lists.remove(99)  # removes an value
lists

['apples', 1, True, 20.5, 'sai', 99]

In [ ]:
lists.pop()  # pop means it removes the last element if we dont mention index number
lists

['apples', 1, True, 20.5, 'sai']

In [ ]:
lists.pop(4)  # it removes the 4th index value
lists

['apples', 1, True, 20.5]

In [23]:
# index(value, start=0)

print(lists.index(20.5))  # it returns the index value
print(lists.index('apples'))

3
0

In [ ]:
lists1 = [5,9,1,5,4]
print(lists1)

lists1.sort()   # it returns the  values in ascending order if all elemetns are in same datatype 

print(lists1)

[5, 9, 1, 5, 4]
[1, 4, 5, 5, 9]

In [ ]:
lists1.sort(reverse=True)  # it returns the values in descending order
print(lists1)

[9, 5, 5, 4, 1]

In [34]:
copied = lists1.copy()

print(lists1)
print(copied)

[9, 5, 5, 4, 1]
[9, 5, 5, 4, 1]

In [ ]:
print(lists1)

print(lists1.count(5)) # it returns the number of elements in specified value

[9, 5, 5, 4, 1]
2

In [ ]:
a = [1,2]
b = [3,4,5]

a.extend(b)   # used to add multiple elements to the end of a list
print(a)

[1, 2, 3, 4, 5]

In [40]:
c = [5,6]
d = ["sai", "ganesh"]

c.extend(d)
print(c)

[5, 6, 'sai', 'ganesh']

In [43]:
e = [5,6]
f = ["sai"]

f.extend(e)
print(f)

['sai', 5, 6]

In [44]:
print(lists1)

lists1.reverse()
print(lists1)

[9, 5, 5, 4, 1]
[1, 4, 5, 5, 9]

In [52]:
# slicing list [start: stop: step] default value of step is 1, 

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[5:])
print(numbers[:5])
print(numbers[::])
print(numbers[-4:])
print(numbers[::-1])
print(numbers[::2])

[3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

In [ ]:
# enumurate  : adds a counter (index) to an iterable (like a list, string, tuple, etc.) and returns it as an enumerate object.
# enumerate(iterable, start = 0(default))
for i, value in enumerate(lists1):
    print(i, value)

0 1
1 4
2 5
3 5
4 9

In [59]:
fruits = ['apples','orange','banana']

for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apples
2 orange
3 banana

In [60]:
# list comprehensions

## without list comprehensions(convensional way)

squares = []

for i in range(5):
    squares.append(i * i)
print(squares)

[0, 1, 4, 9, 16]

In [65]:
## simple way(with comprehension)

squares1 = [i * i for i in range(1, 6)]
print(squares1)

[1, 4, 9, 16, 25]

In [66]:
even = [i for i in range(1, 11) if i % 2 == 0]
print(even)

[2, 4, 6, 8, 10]

In [69]:
print(fruits)

uppercase = [fruit.upper() for fruit in fruits]
print(uppercase)

['apples', 'orange', 'banana']
['APPLES', 'ORANGE', 'BANANA']

In [78]:
fruit_length = [i for i in fruits]
print(fruit_length)

['apples', 'orange', 'banana']

In [84]:
list1 = [1,2,3]
list2 = [4,5,6]

nested_list = [(i,j) for i in list1 for j in list2]
print(nested_list)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

## Tuple

In [86]:
numbers = tuple(range(1, 11))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [88]:
numbers1 = (1,2,3,4,5,2)
print(numbers1)
print(type(numbers1))

(1, 2, 3, 4, 5, 2)
<class 'tuple'>

In [89]:
numbers1.count(2)

2

In [92]:
numbers1.index(2)

1

In [93]:
#packing tuple

my_tuple = 1,5,"sai",True,20.5

print(my_tuple)
print(type(my_tuple))

(1, 5, 'sai', True, 20.5)
<class 'tuple'>

In [ ]:
# unpacking

a,b,c,d,e = my_tuple
print(a)
print(b)
print(c)

1
5
sai

In [102]:
# unpacking with *

first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

## sets

In [170]:
my_set = {1,2,3}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [171]:
my_set1 = set(range(1,6))
print(my_set1)
print(type(my_set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [172]:
dup_set = {1,2,4,6,3,7,2,2,2,4}

print(dup_set)

{1, 2, 3, 4, 6, 7}

In [173]:
print(my_set)

my_set.add(20)
print(my_set)

my_set.add(30)
print(my_set)

{1, 2, 3}
{1, 2, 3, 20}
{1, 2, 3, 20, 30}

In [195]:
print(my_set)

my_set.remove(2)
print(my_set)

{2, 20, 30}
{20, 30}

In [175]:
print(my_set)

my_set.pop()
print(my_set)

{1, 2, 20, 30}
{2, 20, 30}

In [176]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

differenc_set = set1.difference(set2)
print(differenc_set)
differenc_set1 = set2.difference(set1)
print(differenc_set1)

symmetric_set = set1.symmetric_difference(set2)
print(symmetric_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

## Dict

In [177]:
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [178]:
my_dict1 = dict()
print(my_dict)
print(type(my_dict1))

{}
<class 'dict'>

In [179]:
students = {"name":"Sai","age":25, "marks":90}

print(students)

{'name': 'Sai', 'age': 25, 'marks': 90}

In [180]:
print(students["name"])
print(students["age"])

Sai
25

In [181]:
print(students.get('marks'))

90

In [182]:
print(students.get('city'))

None

In [183]:
print(students.get('city',"RJY"))

RJY

In [184]:
print(students)

students['name'] = "sindhu"

print(students)

{'name': 'Sai', 'age': 25, 'marks': 90}
{'name': 'sindhu', 'age': 25, 'marks': 90}

In [185]:
print(students)

students['city'] = "vizag"

print(students)

{'name': 'sindhu', 'age': 25, 'marks': 90}
{'name': 'sindhu', 'age': 25, 'marks': 90, 'city': 'vizag'}

In [186]:
students.items()

dict_items([('name', 'sindhu'), ('age', 25), ('marks', 90), ('city', 'vizag')])

In [ ]:
for key in students.items():
    print(key, value)

name sindhu
age 25
marks 90
city vizag

In [188]:
# nested dict

students = {
    "student1": {"name":"sai","age":24},
    "student2" : {"name":"ganesh", "age":33}
}
print(students)

{'student1': {'name': 'sai', 'age': 24}, 'student2': {'name': 'ganesh', 'age': 33}}

In [189]:
print(students["student1"])

{'name': 'sai', 'age': 24}

In [190]:
print(students["student1"]["name"])

sai

In [191]:
words = ["python","is","a","programminng","langauge"]

res2 = {word : min(word) for word in words}
    
print(res2)

{'python': 'h', 'is': 'i', 'a': 'a', 'programminng': 'a', 'langauge': 'a'}