# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [5]:
my_set = set(range(1, 11))

print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [6]:
print(my_set)

my_set.add(11)
my_set.remove(1)

print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [7]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symetric_set = set1.symmetric_difference(set2)

print(union_set)
print(intersection_set)
print(difference_set)
print(symetric_set)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [8]:
squares = {i ** 2 for i in range(1,11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [10]:
print(my_set)

even_numbers = {even for even in my_set if even % 2 == 0}

print(even_numbers)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [11]:
dup_set = {1,2,3,4,5,4,3,2,1}
print(dup_set)

{1, 2, 3, 4, 5}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [15]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}

is_subset = set2.issubset(set1)  # subset means, all the elements of set2 are also in set1
print(is_subset)
is_subset1 = set1.issubset(set2)
print(is_subset1)

is_superset = set1.issuperset(set2) # superset means, if set1 contains all elements of set1
print(is_superset)
is_superset1 = set2.issuperset(set1)
print(is_superset1)

True
False
True
False


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [18]:
frozen_set = frozenset([1,2,3,4,5])  

print(frozen_set)

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
pos_set = {1,2,3,4,5}

list_set = list(pos_set)
list_set.append(6)
converted_set = set(list_set)

print(converted_set)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [23]:
dict1 = {frozenset([1,2]):23, frozenset([3,4]):34}

print(dict1)

{frozenset({1, 2}): 23, frozenset({3, 4}): 34}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [24]:
num_set = {1,2,3,4,5,6,7,8,9,10}

for num in num_set:
    print(num)

1
2
3
4
5
6
7
8
9
10


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [30]:
num_set = {1,2,3,4,5,6,7,8,9,10}

while num_set:
    num_set.pop()
    print(num_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [33]:
setA = {1,2,3}
setB = {2,3,4,5,6}

setA.symmetric_difference_update(setB)

print(setA)

{1, 4, 5, 6}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [35]:
my_set = {10,20,30,40,50}

checking_set = {25,32,20,40,10,23}

for element in checking_set:
    if element in my_set:
        print(f"{element} is present")
    else:
        print(f"{element} is not present")

32 is not present
20 is present
23 is not present
40 is present
25 is not present
10 is present


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [36]:
my_set = {(1,2),(3,4),(5,6)}

print(my_set)

{(1, 2), (3, 4), (5, 6)}